



<div class="spinner-border" role="status" *ngIf="loading">
  <span class="sr-only">À carregar...</span>
</div>

<ngb-alert *ngIf="!loading && !categorias" type="secondary">
  Nenhuma categoria registrada
</ngb-alert>


<div class="input-group input-group-sm mb-3 float-right col-6">
  <input type="text" class="form-control" placeholder="..." [formControl]="searchfield" (keyup)="onSearch()">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" (click)="onSearch()" >Procurar</button>
  </div>
</div>

<table class="table table-striped" >
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Created</th>
    <th scope="col">Modified</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of categorias; index as i">
      <th scope="row">{{ item.id }}</th>
      <td>{{ item.name }}</td>
      <td>{{ item.created | date: 'short' : 'pt' }}</td>
      <td>{{ item.modified | date: 'short' : 'pt' }}</td>
      <td>
        <button (click)="onEdit(item)" class="btn btn-sm btn-primary mr-2" title="Alterar"><i class="fas fa-edit"></i></button>
        <button (click)="onDelete(item.id)" class="btn btn-sm btn-danger" title="Excluir"><i class="fas fa-trash-alt"></i></button>
      </td>
    </tr>
  </tbody>
</table>

<a type="button" class="btn btn-primary float-right mb-3" routerLink="/categoria/add">Adicionar</a>
